.container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    border-right: 1px solid var(--border-gray);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    overflow: hidden;

    .sidebarHeader {
      display: flex;
      height: 80px;
      min-height: 80px;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--border-gray);
      flex-shrink: 0;

      .sidebarHeaderTitle {
        font-size: 21px;
        font-weight: 700;
      }
    }

    .sidebarContent {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px 0px;
      overflow-y: auto;
      flex: 1;
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      padding: 32px;
      background-color: var(--background-light);
      flex: 1;
      overflow-y: auto;
      min-height: 0;
    }
  }
}
