.container {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  .leftSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    align-items: center;
    justify-content: center;

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      .title {
        font-size: 21px;
        font-weight: 700;
        color: var(--sub-text);
      }
    }
  }

  .rightSection {
    flex: 1;

    .title {
      font-size: 21px;
      font-weight: 700;
      color: var(--sub-text);
      margin-bottom: 16px;
    }

    .teacherList {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--border-gray);
      background-color: white;
      border-radius: 8px;
    }
  }
}
