.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray);
  padding: 16px;

  &:last-child {
    border-bottom: none;
  }

  .teacherContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .top {
      display: flex;
      align-items: center;
      gap: 12px;

      .email {
        color: var(--main-text);
        font-size: 18px;
        font-weight: 600;
      }

      .role {
        background-color: var(--main-blue);
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 12px;
        border-radius: 4px;
      }
    }

    .createdAt {
      color: var(--sub-text);
      font-size: 14px;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 8px;

    .button {
      background-color: none;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .modalTitle {
    font-size: 24px;
    font-weight: 700;
  }

  .modalDescription {
    font-size: 16px;
    color: var(--sub-text);
  }

  .modalButtons {
    display: flex;
    gap: 16px;
  }
}
